
/*-------------------overwrite------------------*/
.span-24 { width:auto !important; }


/*-------------------layout------------------*/
body {  background: #000 url(../img/body-bg.png) repeat-x top left scroll ; }
#header * {margin:0px; padding:0px;  color:#fff;}
#container  { position:relative; width:1002px; margin-left:-501px; left:50%; float:left;}	
#header {  background: url(../img/nav-bg.png) no-repeat bottom left scroll ; padding-bottom:7px; }
#footer, #header, .span-24 { float:left; width:100% !important;}
.span-24 { background:#fff;}
a.logo {     background: url("../img/logo.png") no-repeat scroll left top transparent; float: left; height: 100px; left: 10px; position: absolute; top: 9px; width: 130px;}
#header input { width:100px;  height:17px; color:#000; margin-right:10px; border:1px solid #7f7f7f;}
#header select { width:150px;  height:23px; color:#000;}
#header select option { color:#000 !important;}
#header div { margin-top:45px;}
#search { width: auto; }
#spaces { width:auto; padding-left:155px !important; margin-right:50px !important;}
#footer { background:#111;}
#main { border:none; padding:20px 10px 10px}
