[hook_scribed_logserver]
#location where under q this extension should be put
qlocation=q.cmdtools.logserver
#is python file which contains the class without .py
modulename=ScribedCommand
#name of class in model
classname=ScribedCommand
#if you dan't want to activate this extension, set enabled=0
enabled=1

[hook_scribeserverconf_logserver]
#location where under q this extension should be put
qlocation=i.config.logservermain
#is python file which contains the class without .py
modulename=ScribeConfig
#name of class in model
classname=scribeServerConfig
#if you dan't want to activate this extension, set enabled=0
enabled=1

[hook_scribestoreconf_server]
#location where under q this extension should be put
qlocation=i.config.logserverstore
#is python file which contains the class without .py
modulename=ScribeConfig
#name of class in model
classname=scribeStoreConfig
#if you dan't want to activate this extension, set enabled=0
enabled=1
