__author__ = 'Incubaid'
from osis.store import OsisConnection

def main(q, i, p, params, tags):
    osis = p.application.getOsisConnection(p.api.appname)
    viewname = OsisConnection.getTableName(domain = params['domain'], objType = params['rootobjecttype'])
    rootobject = params['rootobject']
    values = dict()
#for $field in $fields
    #if $field["type"]!= "Dict" and $field["type"] != "List"
    values['$field["name"]'] = rootobject.$field["name"]
    #end if
#end for
    
    osis.viewSave(params['domain'], params['rootobjecttype'], viewname, rootobject.guid, rootobject.version, values)

def match(q, i, params, tags):
    return params['rootobjecttype'] == '$rootobject' and params['domain'] == '$domain'
