# ${rootobject.capitalize()} Overview


<div class="macro macro_sqlgrid">
{
    "dbconnection": "${appname}",
    "table": "${table}",
    "schema": "${schema}",
    "columns" : {
#for $field in $fields            
            "${field['name']}": "${field['name'].capitalize()}",
#end for
            "guid": "guid"
            },
    "link" : {
#for $field in $fields            
            "${field['name'].capitalize()}":"/${appname}/#/${domain}/${rootobject}_detail_<%="$guid$"%>",
#end for    
    "": ""
    },
 
    "name": "${rootobject.capitalize()}s",
    "sort": "name",
    "pagesize": 10,
    "width": 600,
    "height": 200,
    "fieldwidth": {
        "name": 80
    },
    "hidden":["guid"]
}
</div>

[[wizard:title=Add, name=${rootobject}_create]][[/wizard]]
