[hook_logtarget_fs]
#location where under q this extension should be put
qlocation=i.config.logtargetfs
#is python file which contains the class without .py
modulename=LogTargetFSConfig
#name of class in model
classname=LogTargetFSConfig
#if you dan't want to activate this extension, set enabled=0
enabled=1
