from pylabs import q

class $className:
#for $method in $methods:
    def $method.name (self, $method.args):
        """
        $method.docs
	"""
        params =dict()
#for $key, $value in $method.params.iteritems():
        params['$key'] = $value
#end for
        return q.workflowengine.actionmanager.startActorAction('$className', '$method.name', params, jobguid=jobguid, executionparams=executionparams)

#end for

