from pylabs import q

class ${className}(object):
    
    def __init__(self, proxy=None):
        self._proxy = proxy or ${className}ActionManagerProxy()
        
#for $method in $methods:
    def $method.name (self, $method.args):
        """
        $method.docs
        """
        params =dict()
#for $key, $value in $method.params.iteritems():
        params['$key'] = $value
#end for
        return q.workflowengine.actionmanager.startActorAction('$domain', '$className', '$method.name', params, jobguid=jobguid, executionparams=executionparams)

#end for

