from pylabs import q, p
from actionservice import ActionService

class ${className}(ActionService):

#for $method in $methods:
    @q.manage.applicationserver.expose
    def $method.name (self, $method.args):
        """
        $method.docs
        """
#set $line = ','.join($method.argNames)
        result = p.api.action.${domain}.${className}.${method.name}($line)
#if $method.name == 'getObject'
        # Deserialize the pymodel object
        o = result['result']
        import base64
        from pymodel.serializers import ThriftSerializer
        serialized_result = o.serialize(ThriftSerializer)
        encoded_result = base64.encodestring(serialized_result)
        result['result'] = encoded_result
        return result
#else
        return result
#end if

#end for
