from pylabs import q

class ${className}(object):
    
    def __init__(self, proxy=None):
        self._proxy = proxy or ${className}ActionManagerProxy()
                
#for $method in $methods:
    def $method.name (self, $method.args):
        """
        $method.docs
        """        
        if executionparams is None:
            executionparams = dict()
#set $line = ','.join($method.argNames)
        result = self._proxy('$domain', '$className', '$method.name', $line)
#if $method.name == 'getObject'
        # Deserialize the pymodel object
        if isinstance(result, basestring):
            from osis import ROOTOBJECT_TYPES
            import base64
            from osis.model.serializers import ThriftSerializer
            decoded_result = base64.decodestring(result)
            deserialized_result = ROOTOBJECT_TYPES['$domain']['$className'].deserialize(ThriftSerializer, decoded_result)
            return deserialized_result
        else:
            return result
#else
        return result
#end if
#end for

class ${className}ActionManagerProxy(object):
    def __call__(self, domainname, classname, methodname, *args):        
        try:
            m = getattr(self,  methodname)
            return m(*args)
        except AttributeError, ae:
            raise 
        except Exception, e:
            raise
         
    
#for $method in $methods:
    def $method.name (self, $method.args):
        """
        $method.docs
        """
        params = dict()
        
#for $key, $value in $method.params.iteritems():
        params['$key'] = $value
#if $key == $className+'guid'
        executionparams['rootobjectguid'] = $value
#end if
#end for
        executionparams['rootobjecttype'] = '$className'
#for $key in  $method.properties.keys()
    #if $key.startswith('execution_param_')
        #set param_name = $key.split('_')[-1]
        if not '$param_name' in executionparams:  executionparams['$param_name'] = $method.properties[$key]
    #end if
#end for

        
#if 'execution_method' in $method.properties and $method.properties.execution_method == 'async'
        return q.workflowengine.actionmanager.startRootobjectActionAsynchronous('$domain', '$className', '$method.name', params, jobguid=jobguid, executionparams=executionparams)
#elif 'execution_method' in $method.properties and $method.properties.execution_method == 'sync'
        return q.workflowengine.actionmanager.startRootobjectActionSynchronous('$domain', '$className', '$method.name', params, jobguid=jobguid, executionparams=executionparams)
#else
        return q.workflowengine.actionmanager.startRootobjectAction('$domain', '$className', '$method.name', params, jobguid=jobguid, executionparams=executionparams)
#end if

    

#end for
