from pylabs import q, p
from actionservice import ActionService

class ${className}(ActionService):

#for $method in $methods:
    @q.manage.applicationserver.expose
    def $method.name (self, $method.args):
        """
        $method.docs
        """
#set $line = ','.join($method.argNames)
        return p.api.action.${domain}.${className}.${method.name}($line)

#end for

