#for $iimport in $imports:
from $iimport.modulename import $iimport.classname
#end for

class ${classname}(object):
    def __init__(self, proxy=None):
#for $iimport in $imports:
        self.$iimport.classname = ${iimport.classname}(proxy=proxy)
#end for 
