MSG_DELETE = 'Warning! You are about to delete the ${rootobject} %s'
MSG_DELETE_CONFIRM = 'Are you sure you want to delete this ${rootobject}?'

def callCloudAPI(api, ${rootobject}guid):
    result = api.action.${domain}.${rootobject}.delete(${rootobject}guid)['result']    
    return result


def main(q, i, p, params, tags):
    
    ${rootobject} = p.api.action.${domain}.${rootobject}.getObject(params['${rootobject}guid'], executionparams={'description': 'Retrieving lead information'})
    q.gui.dialog.message(MSG_DELETE% str(${rootobject}))
    answer = q.gui.dialog.askYesNo(MSG_DELETE_CONFIRM, False)

    if answer == 'CANCEL':
		return
	
    result = callCloudAPI(p.api, params['${rootobject}guid'])
    params['result'] = result

def match(q, i, p, params, tags):
	return True
