import pymodel as model

\#@doc class that provides properties of a space
class space(model.RootObjectModel):
    \#@doc name of the space
    name = model.String(thrift_id=1)
    \#@doc tags related to the space
    tags = model.String(thrift_id=2)
