\#\# ${space}

[[widget:title=View]]
<button id='import'>Import Space</button>
<button id='export'>Export Space</button>
<br />
\#\#\# Synchronize Space
<table>
    <tr><td style="vertical-align: middle;">Repository:</td><td style="vertical-align: middle;"><input id="repo" type="text" value="" style="width: 100%;" /></td></tr>
    <tr><td style="vertical-align: middle;">Username:</td><td style="vertical-align: middle;"><input id="repo-username" type="text" value="" /></td></tr>
    <tr><td style="vertical-align: middle;">Password:</td><td style="vertical-align: middle;"><input id="repo-password" type="password" value="" /></td></tr>
</table>
<button id='push'>Push</button>
<button id='pull'>Pull</button>
[[/widget]]

<script id="port-dialog" type="text/x-jquery-tmpl">
<div>
    <form>
    <fieldset>
        <label for="name">Archive:</label>
        <input type="text" name="path" id="path" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>
</div>
</script>

<script id="alert-dialog" type="text/x-jquery-tmpl">
<div>
    <p id='alertmessage'></p>
</div>
</script>

<script id="confirm-dialog" type="text/x-jquery-tmpl">
<div title="Out of date">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 40px 0;"></span>
    Your local data is currently out of sync.<br />It is advisable to do a pull first.<br />
    There might be some merge conflicts that you will need to solve manually.</p>
</div>
</script>

<script type='text/javascript' src='js/admin/managespace.js'></script>
<script>
(function() {
    var handler = function() {
        manageSpace('${space}');
    };
    \$('#main').bind('macro-render-finish', handler);
})();
</script>
