def main(q, i, p, params, tags):
    q.logger.log('Creating page %s/%s' % (params['space'], params['name']), 1)
    page = p.api.model.ui.page.new()
    page.name = params['name']
    page.space = params['space']
    page.category = params['category']
    page.parent = params.get('parent')
    page.tags = params.get('tags')
    page.content = params.get('content')
    page.order = params['order'] if params['order'] else 10000
    page.title = params['title'] if params['title'] else params['name']
    p.api.model.ui.page.save(page)
    params['result'] = True
    
def match(q, i, p, params, tags):
    return True
