def main(q, i, p, params, tags):
    q.logger.log('Creating space %s' % params['name'], 1)
    alkira = q.clients.alkira.getClientByApi(p.api)
    alkira.createSpace(params['name'],
        params.get("tags", "").split(" "))
        
    params['result'] = True
    
def match(q, i, p, params, tags):
    return True
