def main(q, i, p, params, tags):
    q.logger.log('Creating space %s' % params['name'], 1)
    space = p.api.model.ui.space.new()
    space.name = params['name']
    space.tags = params.get('tags')

    repo = space.repository.new()
    repo.url = params.get('repository')
    repo.username = params.get('repo_username')
    repo.password = params.get('repo_password')
    space.repository = repo

    p.api.model.ui.space.save(space)
    params['result'] = True

def match(q, i, p, params, tags):
    return True
