[hook_apache2_manage]
#location where under q this extension should be put
qlocation=q.manage.apache
#is python file which contains the class without .py
modulename=ApacheServerManagement
#name of class in module
classname=ApacheServerManagement
enabled=0

