
/*-------------------overwrite------------------*/
.span-24 { width:auto !important; }


/*-------------------layout------------------*/
body {  background: #fff url(../img/bodybg.gif) repeat-x top left scroll ; }
#header * {margin:0px; padding:0px;  color:#fff;}
#container  { position:relative; width:1002px; margin-left:-501px; left:50%; float:left; }
#header {  background: url(../img/headbg.gif)  no-repeat bottom left scroll ; height: 232px;}
#footer, #header, .span-24 { float:left; width:100% !important;}
.span-24 { background:#fff;}
a.logo {     background: url("../img/pylabs-logo.png") no-repeat scroll left top transparent; float: left; height: 133px; width: 210px; left: 10px; position: absolute; top: 9px; }
a.link {     background: url("../img/download.png") no-repeat scroll left bottom transparent; height: 170px; width: 150px; left: 525px; position: absolute; top: 9px;}
#header input { width:100px;  height:17px; color:#000; margin-right:10px;margin-top:145px; border:1px solid #7f7f7f;}
#header select { width:150px;  height:23px; color:#000; margin-top:145px; }
#header select option { color:#000 !important;}
#header div { margin-top:45px;}
#search { width: auto; }
#spaces { width:auto; padding-left:155px !important; margin-right:50px !important;}
#footer { background:#111;}
#main { border:none; padding:20px 10px 10px}
#sidebar { margin-right:50px !important;}
#sidebar li a  { color: #5e911d !important  ;  font-weight: bold  !important ;}
#sidebar li li a  { color: #5e911d ; font-weight: normal  !important;}
#hideme { color: #FFFFFF;}
.ui-state-default .emoticon-smile {background-image: url("../img/icons/emoticon_smile.png")}