[hook_keyvalue_store]
#location where under q this extension should be put
qlocation=q.db
#is python file which contains the class without .py
modulename=keyvalue_store
#name of class in model
classname=DB
#if you dan't want to activate this extension, set enabled=0
enabled=1
