from pylabs import q, p
from actionservice import ActionService

class editor(ActionService):
    def list2jstree(self, appname, path, items, isdir=False):
        result = list()
        for item in items:
            dirfullname = q.system.fs.joinPaths(path, item)
            if dirfullname.startswith("./"):
                dirfullname = dirfullname[2:]
            data = dict()
            data["state"] = "closed" if isdir else "leaf"
            data["data"] = {"children": [],
                            "title": item,
                            "attr":{"href": "javascript:nodeClicked('" + dirfullname + "');"}
                           }
            data["attr"] = { "class":"TreeTitle", "id":dirfullname }
            result.append(data)
        return result
    
    #This function make sure the path doesn't try to access parent items like appname/../../../../etc/
    def checkPath(self, path):
        if path.startswith("..") or path.startswith("/"):
            return False
        if path.find("/..") > 0:
            return False
        return True
    
    @q.manage.applicationserver.expose
    def listPyApps(self, jobguid = "", executionparams = None):
        """        
        list all available applications

        @execution_method = sync

        @param jobguid:          guid of the job if available else empty string
        @type jobguid:           guid

        @param executionparams:  dictionary of job specific params e.g. userErrormsg, maxduration ...
        @type executionparams:   dictionary
        
        @return:                 list of application names
        @rtype:                  list
        """
        currentapp = p.api.appname
        applist = q.system.fs.listDirsInDir(q.dirs.pyAppsDir, dirNameOnly=True)
        #I want to make current app the first in the list
        idx = applist.index(currentapp)
        if idx > 0:
            applist[idx], applist[0] = applist[0], applist[idx]
        return applist
    
    @q.manage.applicationserver.expose
    def listSpaces(self, appname, jobguid = "", executionparams = None):
        """        
        list all available spaces

        @execution_method = sync

        @param appname:   name of the application
        @type appname:    string

        @param jobguid:          guid of the job if available else empty string
        @type jobguid:           guid

        @param executionparams:  dictionary of job specific params e.g. userErrormsg, maxduration ...
        @type executionparams:   dictionary
        
        @return:                 list of space names
        @rtype:                  list
        """
        if not self.checkPath(appname):
            return None
        return q.system.fs.listDirsInDir(q.system.fs.joinPaths(q.dirs.pyAppsDir, appname, "portal/spaces/"), dirNameOnly=True)
    
    @q.manage.applicationserver.expose
    def listFilesInDir(self, appname, id = ".", jobguid = "", executionparams = None):
        """        
        list all files in a specific directory
        
        @execution_method = sync
        
        @param appname:   name of the application
        @type appname:    string
        
        @param dirname:   name of the direcotry relative to the application path
        @type dirname:    string

        @param jobguid:          guid of the job if available else empty string
        @type jobguid:           guid

        @param executionparams:  dictionary of job specific params e.g. userErrormsg, maxduration ...
        @type executionparams:   dictionary
        
        @return:                 list of files in the directory "dirname"
        @rtype:                  list
        """
        dirname = id
        if not self.checkPath(appname) or not self.checkPath(dirname):
            raise ValueError("invalid characters in the application name or path (.. or /) were detected")
        
        rpath = q.system.fs.joinPaths(appname, dirname)
        abspath = q.system.fs.joinPaths(q.dirs.pyAppsDir, rpath)
        lenpath = len(abspath)
        return {"path":rpath, "files": list(item[lenpath + 1:] for item in q.system.fs.listFilesInDir(abspath))}
    
    @q.manage.applicationserver.expose
    def listDirsInDir(self, appname, id = ".", jobguid = "", executionparams = None):
        """        
        list all directories in a specific directory
        
        @execution_method = sync
        
        @param appname:   name of the application
        @type appname:    string
        
        @param dirname:   name of the direcotry relative to the application path
        @type dirname:    string

        @param jobguid:          guid of the job if available else empty string
        @type jobguid:           guid

        @param executionparams:  dictionary of job specific params e.g. userErrormsg, maxduration ...
        @type executionparams:   dictionary
        
        @return:          list of directories in the directory "dirname"
        @rtype:           list
        """
        dirname = id
        if not self.checkPath(appname) or not self.checkPath(dirname):
            raise ValueError("invalid characters in the application name or path (.. or /) were detected")
        path = q.system.fs.joinPaths(q.dirs.pyAppsDir, appname, dirname)
        result = q.system.fs.listDirsInDir(path, dirNameOnly=True)
        return self.list2jstree(appname, dirname, result, True)
        
    @q.manage.applicationserver.expose
    def importProject(self, appname, projectname, source):
        """
        Import directory "source" path should be relative to the directory of application "appname"
        
        @execution_method = sync
        
        @param appname:   name of the application
        @type appname:    string

        @param source:   name of the source direcotry relative to the application path
        @type source:    string

        @param projectname:   name of the project
        @type projectname:    string

        @param jobguid:          guid of the job if available else empty string
        @type jobguid:           guid

        @param executionparams:  dictionary of job specific params e.g. userErrormsg, maxduration ...
        @type executionparams:   dictionary
        
        @return:          list of directories in the directory "dirname"
        @rtype:           list
        """
        join = q.system.fs.joinPaths
        if not self.checkPath(appname) or not self.checkPath(projectname) or not self.checkPath(source):
            raise ValueError("invalid characters in the application name, project name  or source (.. or initial /) were detected")
        
        dest = join(q.dirs.pyAppsDir, appname, "portal", "spaces", "Imported", projectname)
        if q.system.fs.exists(dest):
            raise ValueError("Project %s already exists,\nplease choose a different name or remove the porject"%projectname);
        q.system.fs.createDir(dest)
        
        source = join(q.dirs.pyAppsDir, appname, source)
        if not q.system.fs.isDir(source):
            raise ValueError("%s doesn't exists or not a directory"%source);
        
        q.system.fs.copyDirTree(source, dest)
        alkira = q.clients.alkira.getClient("localhost", appname)
        spaceguid = alkira.getSpace("Imported").guid
        
        destlen = len(dest)
        for fullfilename in q.system.fs.walk(dest, recurse=True, followSoftlinks=True):
            #convert it to relative path
            filename = fullfilename[destlen + 1:]
            #should I store this file in alkira?
            if not alkira._getType(filename):
                continue
            alkira.createPage(spaceguid, join(projectname, filename), fullfilename, category='imported', parent="Home", filename=join(source, filename), contentIsFilePath=True)
        
        return True
